@model CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
}

<h1>Kategori Güncelle</h1>
<hr />

@if (Model.Categories.Count > 0)
{
    <table class="table table-bordered" style="text-align:center">
        <thead>
            <tr>
                <td style="width:30px;">Id</td>
                <td style="width:100px;">Name</td>
                <td style="width:100px;">Edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Categories)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>
                        <a class="btn btn-outline-info btn-sm mr-2" href="/admin/products/@product.Id">Güncelle</a>
                        <form action="/admin/deleteproduct" method="post" style="display:inline">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>Eklenmiş Ürün Yok</h4>
    </div>
}

